*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures
/deps/
/tar/
/app/src/main/assets/
/app/src/main/gst-build-*/
/app/src/main/java/org/freedesktop/
/app/src/main/libs/
/app/src/main/obj/
vmnetx.keystore
