<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.olivearchive.vmnetx.android"
        android:installLocation="auto"
        android:versionCode="100"
        android:versionName="0.1.0">
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="21"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens
            android:xlargeScreens="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:anyDensity="true"/>
    <application
            android:icon="@drawable/icon"
            android:label="VMNetX"
            android:allowBackup="true">
        <activity
                android:screenOrientation="unspecified"
                android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
                android:name="RemoteCanvasActivity"
                android:windowSoftInputMode="stateHidden|adjustResize"
                android:theme="@android:style/Theme.DeviceDefault"
                android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vmnetx"/>
            </intent-filter>
        </activity>
        <uses-library
                android:required="false"
                android:name="com.sec.android.app.multiwindow"/>
        <meta-data
                android:name="com.sec.android.support.multiwindow"
                android:value="true"/>
        <meta-data
                android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
                android:resource="@dimen/app_defaultsize_w"/>
        <meta-data
                android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
                android:resource="@dimen/app_defaultsize_h"/>
        <meta-data
                android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
                android:resource="@dimen/app_minimumsize_w"/>
        <meta-data
                android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
                android:resource="@dimen/app_minimumsize_h"/>
    </application>
</manifest>
